.center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline;
  width: 200px;
  height: 100px;
}

#footer {
  border-top: solid 2px black;
  padding-top: 2rem;
  position: relative;

}

#main {
  padding-bottom: 5rem;
}

#player-input {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  font-size: 60px;
  text-align: center;
}


#submit {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position:absolute;
  top: 110px;
  left: 110px;
}

#input-parent {
  width: 160px;
  margin: 5% auto 50px;
  position: relative;
}
